<h1 id="_heading">Available Merchant</h1>


<div class="container-fluid">
  <table class="table table-striped table-inverse table-responsive">
    <thead class="thead-inverse">
      <tr>
        
        <th>NAME</th>
        
        <th>Phone</th>
        <th>MERCHANT TYPE</th>
        <th>LONGITUDE</th>
        <th>LATITUDE</th>
        
        <th>Growth Point</th>
        <th>OPTIONS</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor = 'let merchant of merchants.body.data'>
         
          
          <td scope="row">{{merchant.name}}</td>
          <td>{{merchant.msisdn}}</td>
          <td>{{merchant.merchantType}}</td>
          <td>{{merchant.longitude}}</td>
          <td>{{merchant.latitude}}</td>
          <td>{{merchant.growthPoint}}</td>
          <td>
            <button class="btn btn-pill btn-block btn-danger btn-sm " (click)="deleMerchant(merchant.id)">X</button>
            <button class="btn btn-pill btn-block btn-info btn-sm " (click)="updateMerchant(merchant.id)">Update</button>
            
          </td>
            
        </tr>
      </tbody>
  </table>
 
</div>



