<h1 id="_heading">Available Merchant</h1>
<div class="container-fluid">
  <table class="table table-striped table-inverse table-responsive">
    <thead class="thead-inverse">
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>MERCHANT TYPE</th>
        <th>LONGITUDE</th>
        <th>LATITUDE</th>
        <th>GROWTH POINT</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor = 'let merchant of merchant'>
          <td scope="row" >{{merchant.id}}</td>
          <td>{{merchant.name}}</td>
          <td>{{merchant.msisdn}}</td>
          <td>{{merchant.merchantType}}</td>
          <td>{{merchant.longitude}}</td>
          <td>{{merchant.latitude}}</td>
          <td>{{merchant.growthPoint}}</td>
        </tr>
      </tbody>
  </table>
</div>

